/* Light */
@font-face {
    font-family: "Roboto-Thin";
    font-style: normal;

    src: local('Roboto-Thin'), local('Roboto-Thin'), url("../font/Roboto-Thin.ttf")
         format('truetype');}
@font-face {
    font-family: "Roboto-Thin-Italic";
    font-style: italic;
    src: local('Roboto-Thin-Italic'), local('Roboto-Thin-Italic'),
         url("../font/Roboto-ThinItalic.ttf") format('truetype');}
/* Normal */
@font-face {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: normal;
    src: local('Roboto-Light'), local('Roboto-Light'), url("../font/Roboto-Light.ttf")
         format('truetype');}
@font-face {
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    font-weight: normal;
    src: local('Roboto-Light-Italic'), local('Roboto-Light-Italic'),
         url("../font/Roboto-LightItalic.ttf") format('truetype');}
/* Bold */
@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: bold;
    src: local('Roboto-Regular'), local('Roboto-Regular'), url("../font/Roboto-Regular.ttf")
    format('truetype');}
@font-face {
    font-family: "Roboto-Regular-Italic";
    font-style: italic;
    font-weight: bold;
    src: local('Roboto-Regular-Italic'), local('Roboto-Regular-Italic'),
    url("../font/Roboto-Italic.ttf") format('truetype');}
/* GLOBAL */
*{ margin: 0; padding: 0;}
body, html{ width: 100%; height: 100%;}
body{ font-family: Roboto-Light, sans-serif, Verdana;
      font-size: 110%; color: #555555; background: #ebe9e2;}
    /*scrollbar*/
::-webkit-scrollbar { width: 10px; background: rgb(245, 245, 245);
    /*-webkit-box-shadow: inset 0 0 6px rgb(255, 181, 245);*/}
::-webkit-scrollbar-thumb { background: rgba(123, 37, 154, 0.98);
    cursor: pointer; border-radius: 3px; border: 1px solid #a56bb4;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);*/}
::-webkit-scrollbar-thumb:hover { background: rgb(123, 37, 154); cursor: pointer;
    border-radius: 3px; /*-webkit-box-shadow: inset 0 0 6px rgba(132, 132, 132, 0.2);*/}

/* SECTIONS */
header{ width: auto; background: url('../img/bg-header.jpg') no-repeat center;
    -webkit-background-size: cover; -moz-background-size: cover;
    background-size: cover; -o-background-size: cover; padding: 5%;}

#headding{ background: #c8fed0;} #texts{background: rgba(183, 255, 12, 0.13)}
#columns{ background: #ffeffa}
#unordered{ background: #e0f8ff}  #ordered{ background: #fbffe7}
#links{ background: #e4e5ff} #images{ background: #ffdfdc}
#php { background: #cfeaf7;}
#table{ background: #e6ffe5} #footer{ background: #cdc8d2}
.nav{ list-style-type: none;}
.exam-js{ padding: 10px; background-color: rgba(183, 255, 12, 0.2);
           width: 50%; margin: 2% auto; text-align: center; border-radius: 5px;
           box-sizing: border-box; border: 2px #4e7c0b solid;}
.exam-php{ padding: 10px; background-color: rgba(103, 187, 255, 0.33);
    margin: 2% auto; border-radius: 5px;
    box-sizing: border-box; border: 2px #32467c solid;}

/* VARIOS */
em{ font-family: Roboto-Light-Italic;} em b, em strong{ font-family: Roboto-Regular-Italic;}
strong, b{ font-family: Roboto-Regular;}
address {font-family: Roboto-Light-Italic;}
address b, address strong{ font-family: Roboto-Regular-Italic;}
blockquote { font-family: Roboto-Light-Italic; margin: 1%; padding: 2%; background: #f7f7f7}
blockquote b{ font-family: Roboto-Regular-Italic;}
blockquote strong{ font-family: Roboto-Regular-Italic;}

/*Más estilos para hr: https://codepen.io/ibrahimjabbari/pen/ozinB*/
hr.one{ height: 15px; border: 0; background: linear-gradient(45deg,
    rgba(255,184,115,0.65) 0%,
    rgba(255,124,189,0.65) 50%,
    rgba(108,0,153,0.65) 100%);}
hr.two{ height: 15px; border: 0;
    background: rgba(255,173,173,1);
    background: -moz-linear-gradient(-45deg, rgba(255,173,173,1) 0%,
        rgba(255,173,173,1) 3%, rgba(226,60,126,0.99) 21%, rgba(226,60,96,0.98) 42%,
        rgba(234,31,139,0.97) 65%, rgba(213,42,139,0.96) 81%, rgba(249,148,185,0.95) 97%,
        rgba(249,148,185,0.95) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,173,173,1) 0%,
        rgba(255,173,173,1) 3%, rgba(226,60,126,0.99) 21%, rgba(226,60,96,0.98) 42%,
        rgba(234,31,139,0.97) 65%, rgba(213,42,139,0.96) 81%, rgba(249,148,185,0.95) 97%,
        rgba(249,148,185,0.95) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,173,173,1) 0%, rgba(255,173,173,1) 3%,
        rgba(226,60,126,0.99) 21%, rgba(226,60,96,0.98) 42%, rgba(234,31,139,0.97) 65%,
        rgba(213,42,139,0.96) 81%, rgba(249,148,185,0.95) 97%, rgba(249,148,185,0.95) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,173,173,1) 0%, rgba(255,173,173,1) 3%,
        rgba(226,60,126,0.99) 21%, rgba(226,60,96,0.98) 42%, rgba(234,31,139,0.97) 65%,
        rgba(213,42,139,0.96) 81%, rgba(249,148,185,0.95) 97%, rgba(249,148,185,0.95) 100%);
    background: linear-gradient(135deg, rgba(255,173,173,1) 0%, rgba(255,173,173,1) 3%,
        rgba(226,60,126,0.99) 21%, rgba(226,60,96,0.98) 42%, rgba(234,31,139,0.97) 65%,
        rgba(213,42,139,0.96) 81%, rgba(249,148,185,0.95) 97%, rgba(249,148,185,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffadad',
        endColorstr='#f994b9', GradientType=1 );
}
audio{ margin: 1%; padding: 2%; border-radius: 3px;
       background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,
                                          rgba(255,124,189,0.65) 50%,
                                          rgba(108,0,153,0.65) 100%);}

/* HEADINGS */
h1, h2, h3, h4, h5, h6{ font-family: Roboto-Regular; -webkit-margin-before: 0;
                        -webkit-margin-after: 0; -webkit-margin-start: 0;
                        -webkit-margin-end: 0; font-weight: normal;}
h1{ font-size: 400%;} h2{ font-size: 330%;} h3{ font-size: 280%;} h4{ font-size: 220%;}
h5{ font-size: 180%;} h6{ font-size: 144%;}

/* LINKS */
a{ color: #555555; text-decoration: none;}
    /*Cambio de color del texto del link cuando se interactúa con el*/
a:hover, a:focus, a:link, a.visited{color: #444444;}
    /*Subrayado sólo cuando se coloca el cursor sobre el link*/
a:hover { text-decoration: underline #b700ad}

/* BUTTONS */
a.btn { background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,
                                           rgba(255,124,189,0.65) 50%,
                                           rgba(108,0,153,0.65) 100%);
    border-radius: 5px; box-shadow: 0px 2px 4px rgba(34,62,66,.25); color: #fff;
    font-size: 18px; letter-spacing: 1px; padding: 16px 32px; text-decoration: none;
    margin: 10px 5px !important; display: inline-block;
    text-transform: uppercase; -webkit-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;}
    /*Animación de los botones cuando se coloca el cursor encima*/
a.btn:hover { box-shadow: 0px 4px 4px rgba(34,62,66,.5);
              -webkit-transition: box-shadow 0.5s ease;
              transition: box-shadow 0.5s ease;}

/* STYLES FOR UL */
.square{ list-style-type: square;} .circle{ list-style-type: circle;}
/* STYLES FOR OL */
.zero{ list-style-type: decimal-leading-zero;} .latin{ list-style-type: upper-latin;}
.l-latin{ list-style-type: lower-latin;} .roman{ list-style-type: upper-roman;}
.l-roman{ list-style-type: lower-roman;}

/* TABLAS */
table{ border-spacing: 0;}
.combinate, .combinate > tbody> tr > td { border: 1px rgba(16, 119, 51, 0.81) solid;}

/* COLUMNS */
.flex-container{display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap;
                flex-wrap: wrap; width: auto; height: auto;}
    /*Justifica las columnas en el centro*/
.col-center{ -webkit-justify-content: center; justify-content: center;}
    /*rellena con espacios vacíos entre las columnas para que llegue al 100% del width */
.col-space-around{ -webkit-justify-content: space-around; justify-content: space-around;}
    /*Ancho de cada columna*/
.col-12{ width: 100%;}
.col-8{ width: 66.66%;}
.col-6{ width: 50%;}
.col-4{ width: 33.33%;}
.col-3{ width: 25%}
.col-2{ width: 16.66%}
.col-1{ width: 8.33%}

    /*Estilo para cada columna*/
.col-12, .col-8, .col-6, .col-4, .col-3, .col-2, .col-1{ height: auto; padding: 1%;
                                                 box-sizing: border-box;}
    /*Método 2 para dividir en columnas, pero sin salto de linea
      Todas se mantienen en la misma fila.*/
.item1{ -webkit-flex: 5; flex: 5;}
.item2{ -webkit-flex: 3; flex: 3;}
.item3{ -webkit-flex: 2; flex: 2;}
    /*Estilo para los item*/
.item1, .item2, .item3{ padding: 1%; box-sizing: border-box;}

/* BORDERS */
.border{border: 1px rgba(16, 119, 51, 0.81) solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;}        /* Opera/IE 8+ */
.col-border{ box-sizing: border-box; border: 2px #905fa0 solid;}

/* IMAGES */
.img-responsive { width: 100%; height: auto;}
.img-responsive-50{ width: 50%; height: auto;}
.img-rounded { border-radius: 6px;}
.img-circle { border-radius: 50%; border: 4px solid #ffffff; box-sizing: border-box;}
.img-thumbnail { border: 4px solid #ffffff; box-sizing: border-box; border-radius: 5px;}

/* FORMS */
label { display: block; width: 80%;}
input, textarea { border-radius: 10px; width: 80%;}
::-webkit-input-placeholder { color: #555555 !important;}
.bttn{ display: inline-block; width: 20% !important;}


/* IMPLEMENTOS */
.padd5{padding: 5%;} .padd2{ padding: 2%;} .padd1{ padding: 1%;}
.padd35px{ padding-left: 35px;}
.marg5{ margin: 5%;} .marg2{ margin: 2%;}
.inline-b{display: inline-block;} .inline-f{ display: inline-flex;}
.text-center{ text-align: center; text-align: -webkit-center;}
.text-justify { text-align:justify;}
.title{ padding-bottom: 2%;}

/* PAGE FULL COVER */
.bg-cover{background: url('../img/bg-cover.jpg') no-repeat center;
          -webkit-background-size: cover; -moz-background-size: cover;
          background-size: cover; -o-background-size: cover; height: 100%; width: 100%;}
.title-center{ text-align: center; text-align: -webkit-center; padding: 20% 20% 5% 20%;}

