/* Light */
@font-face {
    font-family: "Roboto-Thin";
    font-style: normal;

    src: local('Roboto-Thin'), local('Roboto-Thin'), url("../font/Roboto-Thin.ttf")
         format('truetype');}
@font-face {
    font-family: "Roboto-Thin-Italic";
    font-style: italic;
    src: local('Roboto-Thin-Italic'), local('Roboto-Thin-Italic'),
         url("../font/Roboto-ThinItalic.ttf") format('truetype');}
/* Normal */
@font-face {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: normal;
    src: local('Roboto-Light'), local('Roboto-Light'), url("../font/Roboto-Light.ttf")
         format('truetype');}
@font-face {
    font-family: "Roboto-Light-Italic";
    font-style: italic;
    font-weight: normal;
    src: local('Roboto-Light-Italic'), local('Roboto-Light-Italic'),
         url("../font/Roboto-LightItalic.ttf") format('truetype');}
/* Bold */
@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: bold;
    src: local('Roboto-Regular'), local('Roboto-Regular'), url("../font/Roboto-Regular.ttf")
    format('truetype');}
@font-face {
    font-family: "Roboto-Regular-Italic";
    font-style: italic;
    font-weight: bold;
    src: local('Roboto-Regular-Italic'), local('Roboto-Regular-Italic'),
    url("../font/Roboto-Italic.ttf") format('truetype');}
/* GLOBAL */
*{ margin: 0; padding: 0;}
body, html{ width: 100%; height: 100%;}
body{ font-family: Roboto-Light, sans-serif, Verdana;
      font-size: 110%; color: #555555; background: #d0e2d7;}

/* SECTIONS */
header{ width: auto; height: 30%; background: url('../img/bg-header.jpg') no-repeat center;
        -webkit-background-size: cover; -moz-background-size: cover;
        background-size: cover; -o-background-size: cover; padding: 5%}

/* VARIOS */
em{ font-family: Roboto-Light-Italic;}
strong{ font-family: Roboto-Regular;}
address {font-family: Roboto-Light-Italic;}
    /*Más estilos para hr: https://codepen.io/ibrahimjabbari/pen/ozinB*/
hr{ height: 15px; border: 0; background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,
                                                                rgba(255,124,189,0.65) 50%,
                                                                rgba(108,0,153,0.65) 100%);}
u{ font-family: Roboto-Regular;}

/* HEADINGS */
h1, h2, h3, h4, h5, h6{ font-family: Roboto-Regular; -webkit-margin-before: 0;
                        -webkit-margin-after: 0; -webkit-margin-start: 0;
                        -webkit-margin-end: 0; font-weight: normal;}
h1{ font-size: 400%;} h2{ font-size: 330%;} h3{ font-size: 280%;} h4{ font-size: 220%;}
h5{ font-size: 180%;} h6{ font-size: 140%;}

/* LINKS */
a{ color: #555555; text-decoration: none;}
    /*Cambio de color del texto del link cuando se interactúa con el*/
a:hover, a:focus, a:link, a.visited{color: #444444; cursor: auto;}
    /*Subrayado sólo cuando se coloca el cursor sobre el link*/
a:hover { text-decoration: underline #b700ad}

/* BUTTONS */
a.btn { background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,
                                           rgba(255,124,189,0.65) 50%,
                                           rgba(108,0,153,0.65) 100%);
    border-radius: 5px; box-shadow: 0px 2px 4px rgba(34,62,66,.25); color: #fff;
    font-size: 18px; letter-spacing: 1px; padding: 16px 32px; text-decoration: none;
    margin: 10px 5px !important; display: inline-block;
    text-transform: uppercase; -webkit-transition: box-shadow 1s ease;
    transition: box-shadow 1s ease;}
    /*Animación de los botones cuando se coloca el cursor encima*/
a.btn:hover { box-shadow: 0px 4px 4px rgba(34,62,66,.5);
              -webkit-transition: box-shadow 0.5s ease;
              transition: box-shadow 0.5s ease;}

/* STYLES FOR UL */
.scuare{ list-style-type: square;} .circle{ list-style-type: circle;}
/* STYLES FOR OL */
.zero{ list-style-type: decimal-leading-zero;} .latin{ list-style-type: upper-latin;}
.l-latin{ list-style-type: lower-latin;} .roman{ list-style-type: upper-roman;}
.l-roman{ list-style-type: lower-roman;}

/* TABLAS */
table{ border-spacing: 0;}
.combinate, .combinate > tbody> tr > td { border: 1px rgba(16, 119, 51, 0.81) solid;}

/* SECCIONES */
.nav{ list-style-type: none;}

/* COLUMNAS */
.flex-container{display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap;
                flex-wrap: wrap; width: auto; height: auto;}
    /*Justifica las columnas en el centro*/
.col-center{ -webkit-justify-content: center; justify-content: center;}
    /*rellena con espacios vacíos entre las columnas para que llegue al 100% del width */
.col-space-around{ -webkit-justify-content: space-around; justify-content: space-around;}
    /*Ancho de cada columna*/
.col-12{ width: 100%;}
.col-8{ width: 66.66%;}
.col-6{ width: 50%;}
.col-4{ width: 33.33%;}
.col-3{ width: 25%}
.col-2{ width: 16.66%}
.col-1{ width: 8.33%}

    /*Estilo para cada columna*/
.col-12, .col-8, .col-6, .col-4, .col-3, .col-2, .col-1{ height: auto; padding: 1%;
                                                 box-sizing: border-box;}
    /*Método 2 para dividir en columnas, pero sin salto de linea
      Todas se mantienen en la misma fila.*/
.item1{ -webkit-flex: 6; flex: 6;}
.item2{ -webkit-flex: 4; flex: 4;}
.item3{ -webkit-flex: 2; flex: 2;}
    /*Estilo para los item*/
.item1, .item2, .item3{ padding: 1%; box-sizing: border-box;}

/* BORDES */
.border{border: 1px rgba(16, 119, 51, 0.81) solid;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;}        /* Opera/IE 8+ */
.col-border{ box-sizing: border-box; border: 2px #905fa0 solid;}

/* IMPLEMENTOS */
.padd5{padding: 5%;} .padd2{ padding: 2%;} .padd35px{ padding-left: 35px;}
.marg5{ margin: 5%;}
.inline-b{display: inline-block;} .inline-f{ display: inline-flex;}
.text-center{ text-align: center; text-align: -webkit-center;}
.text-justify { text-align:justify;}
.title{ text-decoration: underline;}

/* PAGE FULL COVER */
.bg-cover{background: url('../img/bg-cover.jpg') no-repeat center;
          -webkit-background-size: cover; -moz-background-size: cover;
          background-size: cover; -o-background-size: cover; height: 100%; width: 100%;}
.title-center{ text-align: center; text-align: -webkit-center; padding: 20% 20% 5% 20%;}